extends ./layout/index

block contenido
    .main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="nosotros" class="img-fluid")
            .col-md-7
                h1=titulo
                blockquote ipsum, dolor sit amet consectetur adipisicing elit. Atque repellat autem, eos optio temporibus, mollitia iusto earum voluptas velit unde quasi. Assumenda distinctio aspernatur facilis qui nulla ad repellendus dolorem?Corporis facere veritatis, omnis quas velit voluptate quos exercitationem esse ex facilis dolorum quo excepturi dolores ipsam deleniti magnam.
                p ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil laborum possimus dolorum quia asperiores adipisci voluptas? Nulla, magnam odio est eius animi, nihil, provident numquam itaque corrupti sint ipsum.Accusantium, autem, laborum minus aperiam ipsa magnam amet, distinctio itaque dolor corporis illum eveniet optio. Quia aut obcaecati labore cupiditate.
                p ipsum dolor sit amet consectetur adipisicing elit. Dolorem aliquam architecto reiciendis voluptate excepturi exercitationem quae consequatur doloremque!